.cardContainer {
    background-color: #DCE6EC;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-items: center;
    padding-top: 15px;
    width: 100%;
}

