.gameCard {
  height: 200px;
  margin: 0px;
}

img.gameCardImage {
  opacity: 1;
  transition: .5s ease;
  height: 150px;
}

.additionalGameInfo {
  transition: .5s ease;
  width: 100%;
  padding-bottom: 3px;
  opacity: 0;
  transform: translate(-0%, -125%);
  margin: 0px;
}

.gameCard:hover .gameCardImage {
  opacity: 0.3;
}

.gameCard:hover .additionalGameInfo {
  opacity: 1;
}

.text {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  width: 100%;
}
