@import './normalize.css';
@import './Header.scss';
@import './NavBar.scss';
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import './App.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Francois One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
