.locationCard {
  border: 1px solid gainsboro;
  border-radius: 15px;
  margin: 10px;
  height: 130px;
  display: flex;
}

.locationLogo {
  display: block;
  border: 3px solid #000000;
  height: 75px;
  width: 75px;
}