img {
  height: 25px;
  margin: 0 10px;
}

li {
  border: solid 2px #DCE6EC;
  border-bottom-color: #444f68;
  border-top-color: #444f68;
  display: inline-block;
  list-style: none;
}

li.first {
  border-left-color: #444f68;
}

li.last {
  border-right-color: #444f68;
}

nav {
  background-color: #444f68;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

select {
  background-color: #DCE6EC;
  border-radius: 40px;
  box-shadow: 2px 2px #2eaebb;
  color: #444f68;
  margin: 10px;
  width: 120px;
}

button {
  background-color: #DCE6EC;
  border-radius: 40px;
  box-shadow: 2px 2px #2eaebb;
  color: #444f68;
  margin:10px;
  width: 120px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 2px;
  margin:15px auto;
}

input {
  align-self: center;
  height: 100%;
  width: 200px;
  border-style: none;
  padding-left: 6px;
}
