img {
  height: 25px;
  margin: 0 10px;
}

ul {
  display: inherit;
  padding: 0px;
}

li {
  display: inline-block;
  list-style: none;
}

nav {
  background-color: #444f68;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
}

select {
  background-color: #DCE6EC;
  border-radius: 40px;
  box-shadow: 2px 2px #2eaebb;
  color: #444f68;
  height: 40px;
  margin: 40px 10px 25px 10px;
  width: 150px;
}

button {
  background-color: #DCE6EC;
  border-radius: 40px;
  box-shadow: 2px 2px #2eaebb;
  color: #444f68;
  height: 40px;
  margin: 25px 5px 25px 5px;
  width: 80px;
}

button.location {
  background-color: #DCE6EC;
  border-radius: 40px;
  box-shadow: 2px 2px #2eaebb;
  color: #444f68;
  height: 40px;
  margin: 40px 10px 25px 10px;
  width: 200px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 2px;
  margin:15px auto;
}

input {
  align-self: center;
  height: 100%;
  width: 200px;
  border-style: none;
  padding-left: 6px;
}

button.locationButton {
  background-color: #DCE6EC;
  border-radius: 40px;
  box-shadow: 2px 2px #2eaebb;
  color: #444f68;
  height: 40px;
  margin: 25px 10px 25px 10px;
  width: 125px;
}

 button.magnifyButton{
   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   margin:25px 0px 25px 0px;
   height: 42px; 
   width: 50px;
 }

input.searchLocation {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 40px;
  box-shadow: 2px 2px #2eaebb;
}

button.changeGames {
  margin: 40px 10px 25px 0px;
  width: 90px;
}